version: '3.9'

services:
  mongo-db:
    image: mongo:latest
    container_name: mongo-db
    restart: always

    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
      - ./init-db.js:/docker-entrypoint-initdb.d/init-db.js:ro
    healthcheck:
      test: echo 'db.runCommand("ping").ok' | mongosh localhost:27017/test --quiet
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 10s

  backend:
    build: .
    container_name: node-backend
    restart: always
    ports:
      - "3000:3000"
    environment:
      PORT: 3000
      MONGO_URI: mongodb://mongo-db:27017/students
    depends_on:
      mongo-db:
        condition: service_healthy

volumes:
  mongo-data: